
@{
    ViewBag.Title = "Success";
    Layout = "~/Areas/user/Views/Shared/user_LayoutPage1.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <h2>order place successfull</h2>
</div>
<br />
<br />
<br />
<br />

